In [21]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [32]:
# בדיקט הנתונים בקובץ של המשחקים הטובים
file_name = "games_data/top_rated_games.csv"
games_data = pd.read_csv(file_name, header=0, sep=',')
games_data.head()

,Unnamed: 0,game_name,platform,publisher,release_date,meta_scroe,user_score,develeoper,genres,num_of_players,rating,user_positive_review,user_negative_review,user_mixed_review,critic_positive_review,critic_negative_review,critic_mixed_review
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,Nintendo,"Nov 23, 1998",99,9.1,Nintendo,"Action Adventure, Fantasy",1 Player,E,"6,649",517,265,22,0,0
1,1,Tony Hawk's Pro Skater 2,PlayStation,Activision,"Sep 20, 2000",98,7.4,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2,T,601,149,110,19,0,0
2,2,Grand Theft Auto IV,PlayStation 3,Rockstar Games,"Apr 29, 2008",98,7.8,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,"3,408",605,761,64,0,0
3,3,SoulCalibur,Dreamcast,Namco,"Sep 8, 1999",98,8.4,Namco,"Action, Fighting, 3D",1-2,T,331,40,31,24,0,0
4,4,Grand Theft Auto IV,Xbox 360,Rockstar Games,"Apr 29, 2008",98,8.0,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,"2,678",451,554,86,0,0

In [33]:
games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              3999 non-null   int64
 1   game_name               3999 non-null   object
 2   platform                3999 non-null   object
 3   publisher               3999 non-null   object
 4   release_date            3999 non-null   object
 5   meta_scroe              3999 non-null   int64
 6   user_score              3999 non-null   object
 7   develeoper              3998 non-null   object
 8   genres                  3999 non-null   object
 9   num_of_players          3357 non-null   object
 10  rating                  3666 non-null   object
 11  user_positive_review    3950 non-null   object
 12  user_negative_review    3950 non-null   object
 13  user_mixed_review       3950 non-null   object
 14  critic_positive_review  3999 non-null   int64
 15  critic_negative_review  3999 non-null   int64
 16  critic_mixed_review     3999 non-null   int64
dtypes: int64(5), object(12)
memory usage: 531.2+ KB

In [34]:
# ניתן ליראות כי יש בדירוג של המשתמשים נתון בשם tdb
# המציין שעוד לא הוחלט על דירוג
games_data[games_data["user_score"] == "tbd"]

,Unnamed: 0,game_name,platform,publisher,release_date,meta_scroe,user_score,develeoper,genres,num_of_players,rating,user_positive_review,user_negative_review,user_mixed_review,critic_positive_review,critic_negative_review,critic_mixed_review
1304,1304,The Last Friend,Switch,Stonebot Studio,"Apr 7, 2022",86,tbd,Stonebot Studio,"Strategy, Real-Time, Defense",No Online Multiplayer,E10+,NaN,NaN,NaN,7,0,0
1343,1343,NASCAR 2005: Chase for the Cup,Xbox,EA Games,"Aug 31, 2004",86,tbd,EA Tiburon,"Driving, Racing, Stock Car",1-2,E,2,0,1,16,0,0
1547,1547,Moto Racer Advance,Game Boy Advance,Ubisoft,"Dec 5, 2002",86,tbd,Delphine Software International,"Driving, Racing, Motorcycle, Street",NaN,E,NaN,NaN,NaN,8,0,2
1575,1575,Atari 50: The Anniversary Celebration,Xbox Series X,Atari,"Nov 11, 2022",86,tbd,Digital Eclipse,"Miscellaneous, Compilation",No Online Multiplayer,T,NaN,NaN,NaN,8,0,0
1797,1797,Easy Come Easy Golf,Switch,Clap Hanz,"Sep 13, 2022",85,tbd,Clap Hanz,"Sports, Individual, Golf, Arcade",NaN,NaN,NaN,NaN,NaN,7,0,0
2071,2071,OlliOlli World: VOID Riders,PC,Private Division,"Jun 15, 2022",84,tbd,roll7,"Action, Platformer, 2D",NaN,NaN,1,1,0,7,0,0
2266,2266,Betrayal At Club Low,PC,Cosmo D Studios,"Sep 9, 2022",84,tbd,Cosmo D Studios,"Adventure, Point-and-Click",No Online Multiplayer,NaN,NaN,NaN,NaN,9,0,1
2323,2323,Pinball FX 2: Marvel Pinball - Vengeance and V...,Xbox 360,Zen Studios,"Dec 13, 2011",84,tbd,Zen Studios,"Pinball, Action, Miscellaneous, Parlor, Pinball",NaN,E,NaN,NaN,NaN,7,0,0
2345,2345,Wylde Flowers,PC,Studio Drydock Pty Ltd,"Sep 20, 2022",84,tbd,Studio Drydock Pty Ltd,"Simulation, Adventure, General, Virtual, Virtu...",NaN,NaN,2,1,0,8,0,0
2387,2387,NeverAwake,PC,Neotro Inc.,"Sep 28, 2022",84,tbd,Neotro Inc.,"Action, General, Shooter, Shoot-'Em-Up, Horizo...",No Online Multiplayer,NaN,NaN,NaN,NaN,9,0,0
2432,2432,NASCAR Thunder 2003,Xbox,EA Sports,"Sep 19, 2002",84,tbd,EA Sports,"Driving, Racing, Stock Car",1-4,E,2,0,0,12,0,1
2514,2514,Virtua Tennis,Game Boy Advance,THQ,"Oct 8, 2002",83,tbd,Altron,"Sports, Traditional, Tennis",1-4,E,1,1,0,12,0,2
2562,2562,I Expect You To Die 2: The Spy And The Liar,PC,Schell Games,"Aug 24, 2021",83,tbd,Schell Games,"Adventure, 3D, First-Person",No Online Multiplayer,NaN,NaN,NaN,NaN,10,0,1
2589,2589,Yomawari: Lost in the Dark,Switch,NIS America,"Oct 25, 2022",83,tbd,Nippon Ichi Software,"Action Adventure, Adventure, General",No Online Multiplayer,T,NaN,NaN,NaN,6,0,1
2661,2661,Wayward Strand,Switch,Ghost Pattern,"Sep 15, 2022",83,tbd,Ghost Pattern,"Adventure, General",No Online Multiplayer,T,NaN,NaN,NaN,6,0,1
2720,2720,Battle Chef Brigade,PlayStation 4,Adult Swim,"Aug 28, 2018",83,tbd,Trinket Studios,"Action, Beat-'Em-Up, 2D",No Online Multiplayer,E10+,NaN,NaN,NaN,7,0,1
2730,2730,Super Puzzle Fighter II,Game Boy Advance,Capcom,"Mar 31, 2003",83,tbd,Atomic Planet Entertainment,"Miscellaneous, Puzzle, Matching",1-2,E,2,1,0,19,0,3
3008,3008,Dorfromantik,Switch,Toukana Interactive,"Sep 29, 2022",82,tbd,Toukana Interactive,"Strategy, Turn-Based, General",No Online Multiplayer,E,0,1,0,12,0,0
3015,3015,Islets,Switch,Armor Games,"Aug 24, 2022",82,tbd,Kyle Thompson,"Action, Platformer, Metroidvania",No Online Multiplayer,E10+,2,0,0,8,0,1
3026,3026,Shadows Over Loathing,PC,Asymmetric Publications,"Nov 11, 2022",82,tbd,Asymmetric Publications,"Adventure, Point-and-Click",NaN,NaN,2,0,0,7,0,0
3123,3123,Espgaluda II -Be Ascension. The Third Bright S...,Switch,Live Wire,"Sep 9, 2021",82,tbd,Cave,"Action, Shooter, Shoot-'Em-Up, Vertical",No Online Multiplayer,T,2,0,0,6,0,1
3264,3264,The Ramp,PC,Hyperparadise,"Aug 3, 2021",82,tbd,Hyperparadise,"Sports, Individual, Skate / Skateboard",No Online Multiplayer,NaN,NaN,NaN,NaN,7,0,1
3290,3290,NCAA College Basketball 2K3,GameCube,Sega,"Dec 2, 2002",82,tbd,Kush Games,"Sports, Traditional, Basketball, Sim",1-4,E,NaN,NaN,NaN,8,0,3
3426,3426,Roki,PlayStation 5,United Label,"Oct 28, 2021",82,tbd,Polygon Treehouse,"Adventure, General",No Online Multiplayer,E10+,2,1,0,7,0,1
3454,3454,SOLAS 128,Switch,Armor Games,"Jan 25, 2021",82,tbd,Amicable Animal,"Puzzle, General",No Online Multiplayer,E,NaN,NaN,NaN,7,0,2
3481,3481,NASCAR Thunder 2002,Xbox,EA Sports,"Nov 14, 2001",82,tbd,EA Tiburon,"Driving, Racing, Stock Car",1-4,E,1,0,0,14,0,3
3581,3581,Among Us VR,PC,Innersloth,"Nov 10, 2022",82,tbd,Schell Games,"Action Adventure, Survival",Up to 10,NaN,2,0,0,8,0,0
3582,3582,Penko Park,Switch,Secret Mode,"Sep 27, 2022",82,tbd,Ghostbutter,"Adventure, 3D, First-Person",No Online Multiplayer,E,NaN,NaN,NaN,12,0,2
3646,3646,Star Wars Pinball VR,PC,Zen Studios,"Apr 29, 2021",81,tbd,Zen Studios,"Action, Pinball",No Online Multiplayer,NaN,1,1,0,10,0,2
3665,3665,NCAA March Madness 2004,Xbox,Electronic Arts,"Nov 17, 2003",81,tbd,EA Sports,"Sports, Traditional, Basketball, Sim",1-4,E,2,0,1,14,0,2
3686,3686,The Kids We Were: Complete Edition,Switch,"GAGEX Co.,Ltd.","Dec 2, 2021",81,tbd,"GAGEX Co.,Ltd.","Adventure, General",NaN,E,NaN,NaN,NaN,8,0,1
3741,3741,Capcom Classics Collection,Xbox,Capcom,"Sep 27, 2005",81,tbd,Digital Eclipse,"Miscellaneous, Compilation",1-3,T,2,0,0,21,0,2
3754,3754,Jet Lancer,Switch,Armor Games,"May 12, 2020",81,tbd,Vladimir Fedyushkin,"Action, Shooter, Shoot-'Em-Up, Vertical",No Online Multiplayer,T,3,0,0,6,0,1
3806,3807,Mini Motorways,Switch,Dinosaur Polo Club,"May 11, 2022",81,tbd,Dinosaur Polo Club,"Strategy, General, Management, Government",NaN,NaN,2,1,0,11,0,2
3846,3847,Fly Together!,Switch,Northplay ApS,"Apr 29, 2021",81,tbd,Northplay ApS,"Strategy, Management, Business / Tycoon",No Online Multiplayer,NaN,1,0,1,6,0,2
3897,3898,Overboard!,PC,inkle,"Jun 2, 2021",81,tbd,inkle,"Adventure, General",No Online Multiplayer,NaN,1,0,2,7,0,1
3898,3899,Silicon Dreams,PC,Clockwork Bird,"Apr 20, 2021",81,tbd,Clockwork Bird,"Action, General, Adventure, 3D, First-Person",No Online Multiplayer,NaN,0,0,3,6,0,1
3972,3973,Tiger Woods PGA Tour 07,PlayStation 3,EA Sports,"Nov 14, 2006",81,tbd,EA Redwood Shores,"Sports, Traditional, Individual, Golf, Sim, Sim",Up to 4,E,1,1,1,27,0,3
3985,3986,FORM,PC,Charm Games,"Jun 1, 2017",81,tbd,Charm Games,"Adventure, General, 3D, First-Person",No Online Multiplayer,NaN,0,1,1,7,0,0

In [35]:
# replace all 'tbd' values with nan values
games_data.replace("tbd", np.nan, inplace=True)

# and now ther is no 'tbd's
games_data[games_data["user_score"] == "tbd"]

Empty DataFrame
Columns: [Unnamed: 0, game_name, platform, publisher, release_date, meta_scroe, user_score, develeoper, genres, num_of_players, rating, user_positive_review, user_negative_review, user_mixed_review, critic_positive_review, critic_negative_review, critic_mixed_review]
Index: []

In [36]:
# הנתונים בעלי המיספרים הגדולים עם פסיקים במיספרים
# ולכן עמרה פשוטה לסוג אינט לא תעזור פה
games_data["user_positive_review"][0]

'6,649'

In [37]:
# עמרה של כל הנתוני review
# בעלי המיספרים הגבועים
colums = ["user_positive_review", "user_negative_review", "user_mixed_review"]
for column in colums:
    nums = []
    for string in games_data[column]:
        if(type(string) != float):
            nums.append(int(string.replace(",", "")))
        else:
            nums.append(np.nan)
    games_data[column] = nums
    #games_data[column] = games_data[column].astype('int')

games_data.iloc[:,11:14]

      user_positive_review  user_negative_review  user_mixed_review
0                   6649.0                 517.0              265.0
1                    601.0                 149.0              110.0
2                   3408.0                 605.0              761.0
3                    331.0                  40.0               31.0
4                   2678.0                 451.0              554.0
...                    ...                   ...                ...
3994                  39.0                   5.0                6.0
3995                  29.0                  10.0                9.0
3996                2056.0                 536.0              613.0
3997                  15.0                   2.0                1.0
3998                  73.0                  10.0               12.0

[3999 rows x 3 columns]

In [38]:
games_data.head()

,Unnamed: 0,game_name,platform,publisher,release_date,meta_scroe,user_score,develeoper,genres,num_of_players,rating,user_positive_review,user_negative_review,user_mixed_review,critic_positive_review,critic_negative_review,critic_mixed_review
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,Nintendo,"Nov 23, 1998",99,9.1,Nintendo,"Action Adventure, Fantasy",1 Player,E,6649.0,517.0,265.0,22,0,0
1,1,Tony Hawk's Pro Skater 2,PlayStation,Activision,"Sep 20, 2000",98,7.4,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2,T,601.0,149.0,110.0,19,0,0
2,2,Grand Theft Auto IV,PlayStation 3,Rockstar Games,"Apr 29, 2008",98,7.8,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,3408.0,605.0,761.0,64,0,0
3,3,SoulCalibur,Dreamcast,Namco,"Sep 8, 1999",98,8.4,Namco,"Action, Fighting, 3D",1-2,T,331.0,40.0,31.0,24,0,0
4,4,Grand Theft Auto IV,Xbox 360,Rockstar Games,"Apr 29, 2008",98,8.0,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,2678.0,451.0,554.0,86,0,0

In [39]:
# מילוי המקומות עם nan
# בממוצע של העמודה
games_data["user_positive_review"].fillna(games_data["user_positive_review"].mean(), inplace=True)
games_data["user_negative_review"].fillna(games_data["user_negative_review"].mean(), inplace=True)
games_data["user_mixed_review"].fillna(games_data["user_mixed_review"].mean(), inplace=True)

In [40]:
games_data[games_data["user_negative_review"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, game_name, platform, publisher, release_date, meta_scroe, user_score, develeoper, genres, num_of_players, rating, user_positive_review, user_negative_review, user_mixed_review, critic_positive_review, critic_negative_review, critic_mixed_review]
Index: []

In [43]:
# change the 'user_score' so it will be an int num
# like the 'meta_scroe'
games_data['user_score'] = games_data['user_score'].astype('float')

user_df = games_data.iloc[:,6:7].copy()
user_df = user_df[user_df["user_score"].notnull()] * 10


user_df.head()
games_data['user_score'] = user_df["user_score"]
games_data['user_score'].fillna(games_data["user_score"].mean(), inplace=True)
games_data['user_score'] = games_data['user_score'].astype('int64')
games_data.head()

,Unnamed: 0,game_name,platform,publisher,release_date,meta_scroe,user_score,develeoper,genres,num_of_players,rating,user_positive_review,user_negative_review,user_mixed_review,critic_positive_review,critic_negative_review,critic_mixed_review
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,Nintendo,"Nov 23, 1998",99,910,Nintendo,"Action Adventure, Fantasy",1 Player,E,6649.0,517.0,265.0,22,0,0
1,1,Tony Hawk's Pro Skater 2,PlayStation,Activision,"Sep 20, 2000",98,740,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2,T,601.0,149.0,110.0,19,0,0
2,2,Grand Theft Auto IV,PlayStation 3,Rockstar Games,"Apr 29, 2008",98,780,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,3408.0,605.0,761.0,64,0,0
3,3,SoulCalibur,Dreamcast,Namco,"Sep 8, 1999",98,840,Namco,"Action, Fighting, 3D",1-2,T,331.0,40.0,31.0,24,0,0
4,4,Grand Theft Auto IV,Xbox 360,Rockstar Games,"Apr 29, 2008",98,800,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,2678.0,451.0,554.0,86,0,0

In [44]:
games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              3999 non-null   int64
 1   game_name               3999 non-null   object
 2   platform                3999 non-null   object
 3   publisher               3999 non-null   object
 4   release_date            3999 non-null   object
 5   meta_scroe              3999 non-null   int64
 6   user_score              3999 non-null   int64
 7   develeoper              3998 non-null   object
 8   genres                  3999 non-null   object
 9   num_of_players          3357 non-null   object
 10  rating                  3666 non-null   object
 11  user_positive_review    3999 non-null   float64
 12  user_negative_review    3999 non-null   float64
 13  user_mixed_review       3999 non-null   float64
 14  critic_positive_review  3999 non-null   int64
 15  critic_negative_review  3999 non-null   int64
 16  critic_mixed_review     3999 non-null   int64
dtypes: float64(3), int64(6), object(8)
memory usage: 531.2+ KB

In [45]:
games_data.iloc[:,11:14]

      user_positive_review  user_negative_review  user_mixed_review
0                   6649.0                 517.0              265.0
1                    601.0                 149.0              110.0
2                   3408.0                 605.0              761.0
3                    331.0                  40.0               31.0
4                   2678.0                 451.0              554.0
...                    ...                   ...                ...
3994                  39.0                   5.0                6.0
3995                  29.0                  10.0                9.0
3996                2056.0                 536.0              613.0
3997                  15.0                   2.0                1.0
3998                  73.0                  10.0               12.0

[3999 rows x 3 columns]

In [46]:
# making a new normalize column of 'user_positive_review'
user_review = games_data.iloc[:,11:14].copy()
user_review_sum = user_review["user_positive_review"] + user_review["user_negative_review"] + user_review["user_mixed_review"]
user_review["user_positive_normalize"] = user_review["user_positive_review"] / user_review_sum

games_data["user_positive_normelize"] = user_review["user_positive_normalize"]
games_data.head()

,Unnamed: 0,game_name,platform,publisher,release_date,meta_scroe,user_score,develeoper,genres,num_of_players,rating,user_positive_review,user_negative_review,user_mixed_review,critic_positive_review,critic_negative_review,critic_mixed_review,user_positive_normelize
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,Nintendo,"Nov 23, 1998",99,910,Nintendo,"Action Adventure, Fantasy",1 Player,E,6649.0,517.0,265.0,22,0,0,0.894765
1,1,Tony Hawk's Pro Skater 2,PlayStation,Activision,"Sep 20, 2000",98,740,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2,T,601.0,149.0,110.0,19,0,0,0.698837
2,2,Grand Theft Auto IV,PlayStation 3,Rockstar Games,"Apr 29, 2008",98,780,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,3408.0,605.0,761.0,64,0,0,0.713867
3,3,SoulCalibur,Dreamcast,Namco,"Sep 8, 1999",98,840,Namco,"Action, Fighting, 3D",1-2,T,331.0,40.0,31.0,24,0,0,0.823383
4,4,Grand Theft Auto IV,Xbox 360,Rockstar Games,"Apr 29, 2008",98,800,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,2678.0,451.0,554.0,86,0,0,0.727125

In [47]:
# making a new normalize column of 'critic_positive_review'
critic_review = games_data.iloc[:,-4:-1].copy()
critic_review_sum = critic_review["critic_positive_review"] + critic_review["critic_mixed_review"] + critic_review["critic_negative_review"]
critic_review["critic_positive_normalize"] = critic_review["critic_positive_review"] / critic_review_sum

games_data["critic_positive_normelize"] = critic_review["critic_positive_normalize"]
games_data.head()

,Unnamed: 0,game_name,platform,publisher,release_date,meta_scroe,user_score,develeoper,genres,num_of_players,rating,user_positive_review,user_negative_review,user_mixed_review,critic_positive_review,critic_negative_review,critic_mixed_review,user_positive_normelize,critic_positive_normelize
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,Nintendo,"Nov 23, 1998",99,910,Nintendo,"Action Adventure, Fantasy",1 Player,E,6649.0,517.0,265.0,22,0,0,0.894765,1.0
1,1,Tony Hawk's Pro Skater 2,PlayStation,Activision,"Sep 20, 2000",98,740,Neversoft Entertainment,"Sports, Alternative, Skateboarding",1-2,T,601.0,149.0,110.0,19,0,0,0.698837,1.0
2,2,Grand Theft Auto IV,PlayStation 3,Rockstar Games,"Apr 29, 2008",98,780,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,3408.0,605.0,761.0,64,0,0,0.713867,1.0
3,3,SoulCalibur,Dreamcast,Namco,"Sep 8, 1999",98,840,Namco,"Action, Fighting, 3D",1-2,T,331.0,40.0,31.0,24,0,0,0.823383,1.0
4,4,Grand Theft Auto IV,Xbox 360,Rockstar Games,"Apr 29, 2008",98,800,Rockstar North,"Action Adventure, Modern, Modern, Open-World",1 Player,M,2678.0,451.0,554.0,86,0,0,0.727125,1.0

In [ ]:
# note - 'critic_positive_normelize'
# יש שם הרבה פעמים 1.0
# אבל לא מייצג את הערך האמיתי שיש ב
# 'critic_positive_review'